@model Vidly.ViewModels.MovieViewModel

@if (Model.Movies.Count == 0)
{
  <text>There aren't any movies.</text>
}
<br/>
<div class="row">  
  <button class="btn btn-outline-primary" type="submit">
    @Html.ActionLink("Add", "New", "Movies", null)
  </button>
</div>
<br/>
<table id="movie-table" class="table table-bordered table-hover">
  <thead>
    <tr>
      <th>Movies</th>
      <th>Genre</th>
      <th>Release Date</th>
      <th>Stock</th>
    </tr>
  </thead>
  @foreach (var movie in Model.Movies)
  {
    <tr>
      <td>@Html.ActionLink(movie.Name, "Edit", "Movies", new { id = movie.Id }, null)</td>
      <td>@movie.Genre.Type</td>
      <td>@movie.ReleaseDate.ToString("MM/dd/yyyy")</td>
      <th>@movie.Stock</th>
    </tr>
  }
</table>

@section scripts
{
  <script>
    $(document).ready(function() {
      $('#movie-table').DataTable()
    });
  </script>
}